extends layout

block content
    p This is the final assignment for Web Programming and Design. It is a mudd that will eventually be playable on Twitter.
    p Built by Kevin McClean.

    form(submit='/', method = "GET")
        input(type="submit" name="gotoRules" values = "Home Page")