extends layout

block content
  p
    h1 Foolish mortal, I am the Evil Dungeon!!!
  p Below are the list of heroes who have paid the price for daring to adventure into my depths.
    .hallOfFame
      table
        tr
            th Hero
            th Score
        for hero in highscores
          tr
            td #{hero.name}
            td #{hero.score}
    p See the valiant fools who still struggle hopelessly!
    .heroesPlaying
      table
        tr: th Hero
        for hero in stillPlaying
          tr
            td #{hero.name}
  hr
  form(action='/about', method = "GET" name=gotoAbout)
    input(type="submit" value = "About")
  form(action='/rules', method = "GET" name="gotoRules")
    input(type="submit" value = "Rules")