extends layout

block content
    p In order to play, tweet "play" to the evil dungeon mudd on Twitter. Then, tweet one of the following commands in order to play the game
    p "Fight": This allows you to attack the monster in the room with you.
    p "Flee": This allows you to run out of a room with a monster in it. If
    p "Leave": This allows you to move out of an empty room.
    p Any incorrect command will cause the monster will attack you. The monster will also attack if it gets bored (i.e. you take too long to issue a command).

    form(submit='/', method = "GET")
        input(type="submit" name="gotoRules" values = "Home Page")